/*****CSS Menu 1 - Ohmyfood***/

/*********general*************/
*{
    padding: 0px;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 26px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 16px;
    font-weight: 300;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

h4 {
    font-size: 15px;
    font-weight: 300;
}

p {
    font-size: 15px;
    font-weight: 600;
}

/**********header*************/
.header-top {
    width: 375px;
    height: 53px;
    display: flex;
    align-items: center;
} 

.icon-arrow {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4em;  
}

.fa-arrow-left {
    width: 17px;
    height: 16px;
}

.header-logo {
    width: 150px;
}

.header-picture {
    width: 375px;
    height: 275px;
}

/**********main*************/
.menus-container {
    background-color: #F2F2F2;
    padding: 0 15px 0 15px;
    width: 100%;

}

.restaurant-name {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.icon-heart {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
}

.fa-heart {
    color: #101010;
}

section {
    gap: 12px;
}

article {
    display: flex;
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    width: 300px;
    border-radius: 15px;
}


/**********footer*************/

/****************************************responsive*************/
/*********tablets*************/

/*********desktop*************/
