/***************************************** début GENERAL*/
* {
    font-family: 'Raleway', sans-serif;
}

h3,
h4,
p,
body {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main_container {
    max-width: 1440px;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section_title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card_title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral_star {
    color: var(--main-bg-color)
}

/******************************************* fin GENERAL*/

/*******************************************début HEADER*/
.container_header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 2em;
    
}

.header_logo {
    width: 61px;
    height: 20px;
}

.lien_header {
    display: flex;
    justify-content: space-between;
    gap: 4em;
    margin: 0px;
    padding: 0px;
}

.button {
    display: flex;
    align-items: center;
    height: 3em;
    border-top: white solid 3px; 
}

.buttonHighlight:hover {
    border-top: blue solid 3px;  
    color: blue;
}

/*********************************************fin HEADER*/

/**********************************************début NAV*/

/**********************************début BARRE RECHERCHE*/
.recherche_container {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.recherche_title {
    Font-size: 22px;
    line-height: 25px;
    margin-top: 20px;
}

.recherhe_subtitle {
    margin-top: 10px;
}

.searchbar_container {
    width: 358px;
    margin-top: 10px;
    border-radius: 15px;
    border: solid 1px #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.icon_search {
    width: 50px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}

.fa-location-dot {
    color: black;
}

.text_search {
    display: flex;
    align-items: center;
}

input {
    border: white;
    font-weight: 700;
    font-size: 16px;  
    text-align: center;
}

::placeholder {
    color: black;
}

.search_button_text {
    font-weight: 700;
    border-radius: 0 15px 15px 0;
    font-size: 16px;
    padding: 13px;
    border: solid #0065FC;
    background-color: #0065FC;
    color: #FFFFFF;
}

.search_button_magnifying_glass {
    display: none;
}
/************************************fin BARRE RECHERCHE*/

/******************************************début FILTRES*/
.filter_main_container {
    height: 50px;
    gap: 15px;
    display: flex;
    margin-top: 15px;
}

.filter_main_title {
    display: flex;
    align-items: center;
}

.filter_2nd_container {
    border-radius: 25px;
    border: solid 2px;
    border-color: #D9D9D9;
    padding: 4px 19px 4px 19px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter_icon {
    width: 22px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
}

.filter_title {
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Filter_buttonHighlight:hover {
    background-color: rgba(0, 101, 252, 0.2);
    border-radius: 25px;
}
/********************************************fin FILTRES*/

/******************************début PHRASE SOUS FILTRES*/
.filter_comment_container {
    display: flex;
    padding-bottom: 35px; 
    padding-top: 15px;
    gap: 10px;
}

.filter_comment_icon {
    width: 15px;
    height: 14px;
    border: solid 1px #D9D9D9;
    border-radius: 60px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/********************************fin PHRASE SOUS FILTRES*/

/************************************************fin NAV*/

/**********************début HEBERGEMENTS-AND-POPULAIRES*/
.hebergements_and_populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements_and_populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*************************************début HEBERGEMENTS*/
.hebergements {
    width: 65%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.herbergements_title {
    font-size: 22px;
    margin: 0;
    margin-bottom: 30px;
}

.hebergements_cards {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements_cards .card {
    flex-direction: column;
}

.hebergements_cards img {
    width: 240px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 4px white;
}

.hebergements_cards .card_content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    gap: 5px;
}

.hebergements_cards .card_title {
    margin-bottom: 4px;
}

.hebergements-cards .card_subtitle {
    margin: 0;
    padding-top: 5px;
}

.hebergements-cards .card_rating {
    margin-bottom: 5px;
}

.button_hebergement_subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}

/***************************************fin HEBERGEMENTS*/

/***************************************début POPULAIRES*/
.populaires {
    width: 32%;
}

.populaires_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires_cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires_cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid 4px white;
}

.populaires_cards .card_content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires_cards .card_title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires_cards .card_subtitle {
    margin: 0;
}

.populaires_cards .card_rating {
    margin-bottom: 5px;
}
/*****************************************fin POPULAIRES*/

/****************************************début ACTIVITES*/
.activites {
    display: flex;
    flex-direction: column;
    padding: 50px 0 50px 0;
}

.activites_title {
    font-size: 22px;
    padding-left: 12px;
    padding-bottom: 20px;
}

.activites_cards {
    display: flex;
    justify-content: space-around;
}

.activites_cards .card {
    display: flex;
    flex-direction: column;
}

.activites_cards img {
    width: 320px;
    height: 420px;
    border-radius: 20px 20px 0px 0px;
}

.activites_cards .card_content {
    height: 59px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.activites_cards .card_txt {
    font-size: 14px;
}
/******************************************fin ACTIVITES*/

/*******************************************début FOOTER*/
.footer_container {
    background-color: var(--main-bg-color);
    display: flex;
}

.footer_box {
    padding: 20px;
    width: 100%;
}

.footer_services {
    padding: 0;
    margin-top: 0;
}

.footer_services li {
    list-style: none;
    padding-top: 15px;
}
/*********************************************fin FOOTER*/


/****************************** Media queries ***********/
/* Medium devices (large desktop, minimum-width 1440px) */
@media all and (max-width: 1440px) {}

/* Medium devices (desktop, maximum-width 1440px) */
@media all and (min-width: 1024px) {}

/**************************************** Medium devices (tablets, less/equal than 1024px) */
@media all and (min-width: 768px) and (max-width: 1023px) {

    /*************************tablets general début*/
    .main_container {
        padding: 0px 50px 0px 50px;
        width: 100%;
    }
    /***************************tablets general fin*/

    /***************************tablets header fin*/
    
    .button {
        border-bottom: white solid 3px;
    }
    /****************************tablets header fin*/

    /******************************tablets NAV début*/
    /*************************tablets FILTRES début*/
    .filter_main_container {
        flex-wrap: wrap;
        height: 100px;
    }

    .filter_main_title {
        width: 100%;
    }

    .filter_icon {
        height: 25px
    }

    .filter_title {
        height: 10px;
    }
    /****************************tablets FILTRES fin*/
    .filter_comment_container {
        padding-bottom: 40px;
        padding-top: 20px;
    }
    /********************************tablets NAV fin*/

    /**********tablets HEBERGEMENTS&POPULAIRES début*/
    .hebergements_and_populaires {
        flex-direction: column;
    }
    /************tablets HEBERGEMENTS&POPULAIRES fin*/

    /*********************tablets HEBERGEMENTS début*/
    .hebergements {
        width: 100%;
    }

    .hebergements_cards {
        gap: 30px;
        /*row-gap: 30px;
        column-gap: 30px;*/
    }

    .hebergements_cards img {
        width: 222px;
        height: 110px;
    }

    .hebergements_cards .card_title {
        font-size: 14px;
    }

    .hebergements_cards .card_subtitle {
        font-size: 14px;
    }

    .button_hebergement_subtitle {
        font-size: 18px;
    }

    /***********************tablets HEBERGEMENTS fin*/
    

    /***********************tablets POPULAIRES début*/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    
    .populaires_cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .populaires_cards img {
        width: 80px;
    }

    .populaires_cards .card_content {
        padding-left: 5px;
    }

    .populaires_cards a {
        width: 45%;
    }

    .populaires_cards .card_title {
        font-size: 14px;
    }

    .populaires_cards .card_subtitle {
        font-size: 13px;
    }
    /*************************tablets POPULAIRES fin*/

    /************************tablets ACTIVITES début*/
    .activites_title {
        padding-left: 0px;
        margin-bottom: 30px;
    }
    
    .activites_cards img {
        width: 180px;
        height: 200px;
    }

    .activites_cards {
        gap: 30px;
    }

    .activites_cards .card_content {
        flex-wrap: wrap;
        display: flex;
        padding-left: 12px;
        padding-right: 12px;
    }

    .activites_cards .card_txt {
        font-size: 14px;
    }
    /**************************tablets ACTIVITES fin*/

    /***************************tablets FOOTER début*/
    /*****************************tablets FOOTER fin*/
}

/*********************************************** Small devices (phones, less than 768px) */
@media all and (max-width: 767.99px) {

    /*************************phone general début*/
    .main_container {
        padding: 0 0px;
    }

    /***************************phone general fin*/

    /**************************phone header début*/
    .container_header {
        flex-direction: column;
        padding: 15px 0 0 0;
        align-items: center;
    }

    .header_logo_placement {
        display: flex;
        justify-content: center;
    }

    .header_logo {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .lien_header {
        gap: 0px;
    }

    .button {
        display: flex;
        align-items: center;
        width: 11.5em;
        justify-content: center;
        border-bottom: solid 2px #F2F2F2;
        border-top: hidden;

    }

    .buttonHighlight:hover {
        border-bottom: blue solid 2px;
        border-top: hidden;
    }

    /******************************phone header fin*/

    /****************************** phone debut nav*/
    /***************phone title et sous titre debut*/
    .recherche_container {
        display: flex;
        flex-direction: column;
        padding-bottom:20px;
    }

    .recherche_title {
        padding: 0px 20px 0px 20px;
        font-size: 20px;
    }

    .recherhe_subtitle {
        padding-left: 20px;    
        font-size: 15px;    
    }
    /***************phone title et sous titre debut*/
    
    /*************** phone barre de recherche début*/
    .searchbar_container {
        width: 310px;
        margin-left: 20px;
        justify-content: space-between;
    }

    .search_button_text {
        display: none;
    }

    .search_button_magnifying_glass {
        display: flex;
        font-weight: 700;
        border-radius: 15px;
        font-size: 18px;
        padding: 13px;
        border: solid #0065FC;
        background-color: #0065FC;
        color: #FFFFFF;
        box-shadow: 0px 5px 5px grey;
    }

    .fa-magnifying-glass {
        color: #FFFFFF;
    }
    
    /*******************phone barre de recherche fin*/

     /***************************phone filtres début*/
    .filter_main_container {
        width: 310px;
        height: 161px;
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;
        gap: 10px;
    }

    .filter_main_title {
        margin-right: 150px;
    }

    .filter_2nd_container {
        width: 108px;
        height: 35px;
    }

    .filter_title {
        font-size: 14px;
    }

    .filter_comment_container {
        padding-bottom: 10px;
    }
    /***************************phone filtres fin*/

    /*****************phone commentR filtre début*/
    .filter_comment_container {
        padding-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filter_comment_text {
        word-wrap: break-word;
    }

    .filter_comment_icon {
        border: solid 1px #D9D9D9;
        padding: 4px 5px 4px 5px;
    }

    .filter_comment_container p {
        font-size: 15px;
    }
    /********************phone commentR filtre fin*/
    /********************************phone fin nav*/

    /******phone hebergements-and-populaires début*/


    .hebergements_and_populaires {
        display: flex;
        flex-direction: column-reverse;        
    }

    .hebergements_and_populaires section {
    border-radius: 0px;
    background-color : unset;
    padding: 20px;
    }
    /********phone hebergements-and-populaires fin*/

    /************************phone populaires début*/
    .populaires {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #populaires {
        background-color: var(--main-bg-color);
    }

    .populaires_cards .card {
        margin-top: 20px;
        border: solid white;
    }

    .populaires_cards img {
        border: solid white;
    }

    /**************************phone populaires fin*/

    /*********************phone hebergements début*/
    .hebergements {
        width: 100%;
        display: flex;
        flex-flow: column;
        background-color: white;
    }

    .hebergements_cards {
        gap: 20px;
    }

    .hebergements_cards img {
        width: 310px;
    }

    .button_hebergement_subtitle {
        margin-top: 20px;
    }
    /************************phone hebergements fin*/

    /*************************phone activites début*/
    .activites {
        width: 100%;
        padding: 50px 0 70px 0;
    }

    .activites_title {
        padding-left: 25px;
        padding-bottom: 0px;
    }

    .activites_cards {
        display: flex;
        flex-flow: column;
        padding: 0px 25px 0px 25px;
        gap: 30px;
        padding-top: 15px;
        width: 310px;
        }

    .activites_cards img {
        width: 310px;
        height: 141px;
    }
    /***************************phone activites fin*/

    /****************************phone footer début*/
    .footer_container {
        display: flex;
        flex-flow: column;
        padding: 35px 20px 0px 20px;
    }

    .footer_box {
    padding: 0px 0px 35px 0px;
    }
    /******************************phone footer fin*/
}
