/*****CSS Menu 1 - Ohmyfood***/

/*********general*************/
*{
    padding: 0px;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 28px;
    font-style: italic;
}

h3 h4 p {
    font-family: 'Roboto', sans-serif;
}

/**********header*************/
.header-top {
    width: 375px;
    height: 63px;
    display: flex;
    justify-content: center;
} 

.fa-arrow-left {
    width: 17px;
    height: 16px;
}

.header-logo {
    width: 162px;
    height: 44px;
}

.header-picture {
    width: 375px;
    height: 275px;
}

/**********main*************/
.menus {
    background-color: #F2F2F2;
}

.restaurant-name {
    display: flex;
}

/****************************************responsive*************/
/*********tablets*************/

/*********desktop*************/
